header {
  align-self: stretch;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color02);
}

header p {
  font-size: 46px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Soccer League";

  color: var(--color03);
  text-shadow: -2px 2px 0px var(--color01);
}

main {
  width: 100%;
  max-width: 700px;

  display: flex;
  flex-flow: column nowrap;
  color: var(--color01);
}

main h1 {
  display: flex;
  align-items: center;
  gap: 4px;

  font-family: "Soccer League";
  font-size: 22px;
  font-weight: 100;
  text-align: left;
  padding: 10px 8px;
}

main h1 img {
  width: 40px;
  border-radius: 50%;
}

ul li {
  display: flex;
  align-items: center;
}

ul li {
  padding: 8px 0px;
  font-size: 1.5rem;
}

ul li:nth-child(odd) {
  border-top: 1px solid var(--color03);
}

ul:last-child {
  border-bottom: 1px solid var(--color03);
}

ul li img {
  width: 70px;
}

button {
  all: unset;
  width: 100%;
}

button * {
  pointer-events: none;
}

@media screen and (min-width: 900px) {
  ul {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    flex-flow: row wrap;
  }

  ul:last-child {
    border: none;
  }

  ul li {
    flex-flow: column;
    padding: 24px 12px;
    background-color: var(--color02);
    color: var(--color03);
    border-radius: 8px;
    border: 2px solid var(--color04);
    box-shadow: -2px 2px 5px #25232331;
  }

  button {
    width: fit-content;
  }
}
